header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
}
.all-header{
box-shadow: 1px 0px 3px black;
}
.icons{
    display: flex;
    gap: 20px;
}
.soc{
    width: 30px;
}
.soc:hover{
    fill: goldenrod;
}